*{
    margin: 0px;
    padding: 0px;
}

/* background-color
.first{
    background-color: red;
}

.second{
    background-color: royalblue;
}

.third{
    background-color: green;
} */

/* rgb-theory and alpha color*/
/* .first,.second,.third{
    background-color: rgb(10,20, 30);
    color: rgb(255,255,255,1);
} */

/* height and width */
/* .first,.second,.third{
    background-color:rgb(255,0,0);
    width: 200px;
    height:200px;
} */

/* background-image */
#text{
    height: 200px;
    width:200px;
    background-color:red;
    background-image:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixlok.com%2Fimages%2Fmyntra-logo-png-image-free-download%2F&psig=AOvVaw28FiVMqDy5nslGV6MXo_2T&ust=1700755886518000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJDdm8b_14IDFQAAAAAdAAAAABAE);
    
    background-size: contain;
}