*{
    margin: 0px;
    padding: 0px;
}

/* background-color
.first{
    background-color: red;
}

.second{
    background-color: royalblue;
}

.third{
    background-color: green;
} */

/* rgb-theory and alpha color*/
/* .first,.second,.third{
    background-color: rgb(10,20, 30);
    color: rgb(255,255,255,1);
} */

/* height and width */
/* .first,.second,.third{
    background-color:rgb(255,0,0);
    width: 200px;
    height:200px;
} */

/* background-image */
/* #text{
    height: 200px;
    width:200px;
    background-color:red;
    background-image:url(logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
} */

/* visibility */
#one{
   
    background-color: red;
    height: 200px;
    width: 200px;
    visibility: hidden;
}
#tow{
    
    background-color: rgb(154, 195, 179);
    height: 200px;
    width: 200px;
}